.cover {
  .button {
    border-color: black;
  }

  .button:hover {
    border-color: #f97597;
  }
}

.info {
  color: black;
}

.info:hover {
  color: #f97597;
  transition: all 0.2s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .content {
    text-align: left;
  }

  .cover {
    background-position-y: -290;
    min-height: 87vh;
  }
}

@media screen and (max-width: 768px) {
  .content {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .section {
    text-align: center;
  }
  
  .cover {
    background-position: center center;
    min-height: 60vh;
  }
}

/* @media screen and (min-width: 768) {
  .about_us_content {
    color: red;
  }
} */
/* 
.about_us_content {
  color: red;
} */