.logo {
  width: 230px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.navbar a:hover {
  color: #f07579;
}

.navbar a.active {
  color: #f07579;
}

.navbar a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #f07579;
  height: 2px;
  transform: scaleX(0);
}

.navbar a:hover::after {
  width: 100%;
  transform: scaleX(1);
  transition: 800ms ease all;
}

@media screen and (max-width: 924px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width: 150px;
  }
}